#!/bin/bash 

blk='\033[0;30m' red='\033[0;31m' grn='\033[0;32m' ylw='\033[0;33m' 
blu='\033[0;34m' mag='\033[0;35m' cyan='\033[0;36m' lgry='\033[0;37m' 
gry='\033[0;90m' lred='\033[0;91m' lgrn='\033[0;92m' lylw='\033[0;93m'
lblu='\033[0;94m' lmag='\033[0;95m' lcyan='\033[0;96m' white='\033[0;97m' 
nc='\033[0m' 

printf "
${white}============================================================${nc}\n\n
              ${ylw}Setting final image configurations${nc}\n
${white}============================================================${nc}\n\n"

chown -R $USERNAME:$USERNAME $USERHOME $LIBS_HOME

ret=$?
if [ $ret -eq 0 ]; then
    printf "
    ${white}============================================================${nc}\n\n
                ${ylw}SUCCESSFULLY CONFIGURED FINAL IMAGE${nc}\n
    ${white}============================================================${nc}\n\n"
else
    printf "\n${white}Failed to Configure Final Image${nc}\n"
    printf "\n${red}Exiting...${nc}\n"
    exit $ret
fi
